#include "resource.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&FILE"
    BEGIN
        MENUITEM "E&XIT", ID_FILE_EXIT
    END

    POPUP "&STUFF"
    BEGIN
        MENUITEM "&GO", ID_STUFF_GO
        MENUITEM "G&o somewhere else", 0, GRAYED
    END
END
